*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-image: url(fondo.jpg);
}

header{
display: flex;
/*flex-direction: row;*/
background-color: pink;
justify-content: space-between;
align-items: center;
height: 100px;
}

li{
float: left;
list-style-type: none;
}

.seccion {
float: none;
}

.desplegable{
display: none;
background-color: #f2b0a9;
font-size: 1px;
}

.home:hover ul{
position: absolute;
display: block;
}

header .menu a{
font-size: 20px;
color: black;
text-decoration: none;
margin: 10px 10px;
}

header .menu a:hover{
font-weight: bold;
}

header .logo{
margin: 10px 10px;
}