*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("../img/fondo.jpg"); 
}

li{
	float: left;
	list-style-type: none;
}

.r1{
	background-color: pink;
	height: 100px;
}

.r2{
	background-color: pink;
	padding: 30px;
	height: 100px;
}

.desplegable{
display: none;
background-color: #f2b0a9;
font-size: 1px;
}

.home:hover ul{
position: absolute;
display: block;
}

header .menu a{
font-size: 20px;
color: black;
text-decoration: none;
margin: 10px 10px;
}

header .menu a:hover{
font-weight: bold;
}

header .logo{
margin: 10px 10px;
}

.r3{
	background-color: #F3BAEB;
	height: 500px;
	text-align: center;
}

.r4{
	background-color: #B46161;
	height: 500px;
	text-align: center;
}

footer{
	background-color: #B2D3D2;
	height: 100px;
	padding: 30px;
}