.container{
	position: relative;
}

.nav{
	position: absolute;
	left: 0px;
	width: 200px;
	background-color: red;
	float: left;
}

.section{
	margin-left: 200px;
}

.footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 70px;
	background-color: blue;
	width: 100%;
}

.body{
	margin-bottom: 120px;
}